<div class="container">
  <div class="row">
    <div style="font-size: 18px; margin-bottom:20px; margin-top:20px; color:rgb(98, 160, 95)" >Current word: {{currentIndex + 1}}/{{words.length}}</div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="card">
        <div class="text-center fw-bold" style="font-size: 52px; margin-bottom:40px;">
          {{currentWord.VAR}}
        </div>
        <div class="card-body">
          <p class="card-text" style="font-size: 32px; margin-bottom:20px;">
            {{currentWord.CVAR}}
          </p>
          <p class="card-text" style="font-size: 24px; margin-bottom:20px; line-height: 1.5;">
            {{currentWord.SENT}}
          </p>
          <p class="card-text" style="font-size: 20px; margin-bottom:20px; line-height: 1.5; color:rgb(108, 114, 114)">
            {{currentWord.CSENT}}
          </p>
          <p class="card-text" style="font-size: 18px; margin-bottom:20px; color:cadetblue">
            {{currentWord.REMARK}}
          </p>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="d-flex justify-content-between align-items-center mt-4">
      <button class="btn btn-secondary btn-block" (click)="prevVocabulary()" style="font-size: 24px; margin-right: 10px; background-color:bisque">
        Previous
      </button>
      <button class="btn btn-primary btn-block" (click)="nextVocabulary()" style="font-size: 24px; background-color:bisque">
        Next
      </button>
    </div>
  </div>
</div>
