<div class="container custom-container-width">

  <div class="row" style="margin-top: 30px; display: flex; justify-content: center;">
    <section [formGroup]="formGroup" style="margin: 12px 0;">
      <mat-checkbox class="checker" formControlName="CVAR">中文</mat-checkbox>
      <mat-checkbox class="checker" formControlName="SENT">例句</mat-checkbox>
      <mat-checkbox class="checker" formControlName="REMARK">補充</mat-checkbox>
    </section>
  </div>

  <div class="row" style="margin-top: 10px;">

    <div [formGroup]="formGroup">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="VAR">
          <th mat-header-cell *matHeaderCellDef> 單字 </th>
          <td mat-cell *matCellDef="let element"> {{element.VAR}} </td>
        </ng-container>

        <ng-container matColumnDef="CVAR">
          <th mat-header-cell *matHeaderCellDef [hidden]="!formGroup.value.CVAR"> 中文 </th>
          <td mat-cell *matCellDef="let element" [hidden]="!formGroup.value.CVAR"> {{element.CVAR}} </td>
        </ng-container>

        <ng-container matColumnDef="SENT">
          <th mat-header-cell *matHeaderCellDef [hidden]="!formGroup.value.SENT"> 例句 </th>
          <td mat-cell *matCellDef="let element" [hidden]="!formGroup.value.SENT"> {{element.SENT}} </td>
        </ng-container>

        <ng-container matColumnDef="REMARK">
          <th mat-header-cell *matHeaderCellDef [hidden]="!formGroup.value.REMARK"> 補充 </th>
          <td mat-cell *matCellDef="let element" [hidden]="!formGroup.value.REMARK"> {{element.REMARK}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>


  </div>
</div>
